body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 12px Arial, serif; color: #000;}
#navBar, .letterlLabel2, .video, .splash .finHover .hidden .partCell #page1 {display:none !important;}

{
	size:A4;
	margin:0;

}
